<Project>
  <PropertyGroup>
    <ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>
  </PropertyGroup>
  <ItemGroup>
    <PackageVersion Include="ModelContextProtocol" Version="1.4.1" />
    <PackageVersion Include="ModelContextProtocol.AspNetCore" Version="1.4.1" />
  </ItemGroup>
</Project>
