{
  "version": 2,
  "dependencies": {
    "net10.0": {
      "ModelContextProtocol.AspNetCore": {
        "type": "Direct",
        "requested": "[1.4.1, )",
        "resolved": "1.4.1",
        "contentHash": "AoI+00fRxb0GAMMabMUgpV5QhNoa/F7I9oiVGHfJKtBZ4g/DEyoDdTS9Rp/m4e3MnXhhvSBeu2wTafhesdf52w==",
        "dependencies": {
          "ModelContextProtocol": "1.4.1"
        }
      },
      "Microsoft.Extensions.AI.Abstractions": {
        "type": "Transitive",
        "resolved": "10.5.2",
        "contentHash": "Ei+YWV9Ybnps7pR1dgjlG29gelXEwZkhLVAcWmKe6HvXS6LNBYgSdWiY3Hk9OZXYtK34rv/NtLWBQYQGOBQYPQ=="
      },
      "ModelContextProtocol.Core": {
        "type": "Transitive",
        "resolved": "1.4.1",
        "contentHash": "G/hOBZkJsvF3MSy0sOvXdxca5uRe2Sb4xk7xRuTWNZI45khVBjOLo6nSzGilctIICavNVxbxUF908fLYI9RxkQ==",
        "dependencies": {
          "Microsoft.Extensions.AI.Abstractions": "10.5.2"
        }
      },
      "__NAMESPACE_LOWER__.mcp.domain": {
        "type": "Project"
      },
      "ModelContextProtocol": {
        "type": "CentralTransitive",
        "requested": "[1.4.1, )",
        "resolved": "1.4.1",
        "contentHash": "mP5hvBpoWe5EbWBqHWD09A4Dy6Pq+/vV2dumOV4uegCZcg+yqf8q8wrxtuZ3EQyXEJn9jzsnoiI/qyfJAihlZQ==",
        "dependencies": {
          "ModelContextProtocol.Core": "1.4.1"
        }
      }
    }
  }
}