minimum_pre_commit_version: {{ minimum_version }}
repos:
  - repo: local
    hooks:
      - id: repository-fast-check
        name: Repository fast check
        entry: {{ fast_check_command }}
        language: system
        pass_filenames: false
