minimum_pre_commit_version: {{ minimum_version }}
default_stages: [pre-commit]
repos:
  - repo: local
    hooks:
{% for hook in hooks %}
      - id: {{ hook.id }}
        name: {{ hook.name }}
        entry: {{ hook.entry }}
        language: system
        pass_filenames: {{ hook.pass_filenames | lower }}
        stages: {{ hook.stages }}
{% endfor %}
