<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="../../src/__NAMESPACE__.Mcp.Server/__NAMESPACE__.Mcp.Server.csproj" />
    <PackageReference Include="ModelContextProtocol" />
  </ItemGroup>
</Project>
