version: 2
updates:
{% for ecosystem in ecosystems %}
  - package-ecosystem: {{ ecosystem.name }}
    directory: {{ ecosystem.directory }}
    schedule:
      interval: {{ ecosystem.interval }}
{% endfor %}
