name: Publish
on:
  workflow_dispatch:
  push:
    tags: ['v*']
permissions:
  contents: read
  packages: write
  id-token: write
jobs:
  publish:
    environment: {{ environment }}
    runs-on: {{ runner }}
    steps:
      - uses: {{ checkout_ref }}
        with:
          ref: ${{ github.sha }}
      {{ restore_tested_artifact_steps | indent(6) }}
      {{ publish_steps | indent(6) }}
      {{ provenance_steps | indent(6) }}
