name: Semgrep scheduled

on:
  schedule:
    - cron: "<SEMGREP_CRON>"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: semgrep-scheduled
  cancel-in-progress: false

jobs:
  semgrep:
    runs-on: ubuntu-latest
    timeout-minutes: <TIMEOUT_MINUTES>
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1
        with:
          persist-credentials: false
      - name: Full scan
        uses: returntocorp/semgrep-action@713efdd345f3035192eaa63f56867b88e63e4e5d
        env:
          SEMGREP_RULES: <SEMGREP_RULES>
      - name: Upload SARIF
        if: always() && hashFiles('semgrep.sarif') != ''
        uses: github/codeql-action/upload-sarif@411bbbe57033eedfc1a82d68c01345aa96c737d7
        with:
          sarif_file: semgrep.sarif
          category: semgrep-scheduled
