# {{PROJECT_NAME}}

{{BADGES_IF_LIVE_AND_USEFUL}}

{{ONE_OR_TWO_SENTENCE_VALUE_PROPOSITION}}

{{OPTIONAL_SINGLE_HELPFUL_VISUAL}}

## Quick start

{{SHORTEST_SUPPORTED_PATH_TO_FIRST_VALUE}}

```text
{{COPY_PASTEABLE_COMMAND_OR_MINIMAL_CODE}}
```

{{OBSERVABLE_VERIFICATION_OR_EXPECTED_RESULT}}

## {{PRIMARY_DOMAIN_SECTION}}

{{ONLY_THE_DETAIL_A_NEW_USER_NEEDS_NEXT}}

{{LINK_TO_CANONICAL_REFERENCE_DOCS}}

## Development

```text
{{REPOSITORY_OWNED_CHECKS}}
```

## Contributing

{{LINK_OR_SHORT_VERIFIED_GUIDANCE}}

## License

{{VERIFIED_LICENSE_LINK}}
